In [16]:

import pandas as pd

In [17]:
data=pd.read_csv('MOCK_DATA.csv')

In [18]:
print(len(data))
data.head(10)

120

   tradeid  price
0      109  762.5
1      116  777.9
2      110  837.4
3      112  621.8
4      115  850.5
5      104  967.2
6      106  921.0
7      100  717.0
8      113  679.6
9      101  668.7

In [20]:
newtuple=(125, 655)
newtuple

(125, 655)

In [21]:
filterdata=data.nlargest(30, 'tradeid')

In [22]:
filterdata

     tradeid  price
38       120  575.5
77       120  942.6
13       119  724.7
19       119  568.6
51       119  728.4
60       119  772.5
62       119  735.5
65       119  911.6
83       119  638.8
86       119  742.6
95       119  763.2
102      119  751.1
112      119  964.9
12       118  726.0
49       118  539.0
57       117  565.5
1        116  777.9
23       116  767.1
48       116  944.2
59       116  868.4
66       116  682.7
70       116  650.2
82       116  678.5
96       116  698.3
4        115  850.5
25       115  815.1
98       115  692.3
24       114  983.0
27       114  703.2
56       114  945.5

In [23]:
mean=filterdata["price"].mean()
mean

756.9133333333333

In [25]:
sd=filterdata["price"].std()
sd

124.88812851379492

In [28]:
z_score=(newtuple[1]-mean)/sd
z_score

-0.8160369968397447